#services {
  img {
    max-height: 340px;
    max-width: 340px;
  }
  text-align: center;
  .service {
    text-align: left;
    h2,
    h3 {
      color: _palette(black);
    }
    .service_image {
      max-width: 100%;
    }
    a {
      color: white;
    }
  }
}
